@tailwind base;
@tailwind components;
@tailwind utilities;

.dvh {
  height: 100dvh;
}

.safeMargin {
  padding: 0 1rem /* 16px */;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --muted: 210 17% 98%;
    --primary: 218 11% 15%;
    --secondary: 217 10% 25%;
    --accent: 240 5% 96%;
    --destructive: 0 84% 60%;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #e5e7eb;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.95em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 16px;
  }

  table td {
    border-bottom: 1px solid #e5e7eb;
    display: block;
    font-size: 0.95em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 600;
    font-size: 0.85em;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
